<nav class="navbar navbar-light bg-light">
  <!-- Nút Back -->
  <a href="/admin/order" class="btn btn-outline-primary">Quay Lại</a>
  <a class="navbar-brand">Danh Sách Đơn Hàng</a>
  <div class="container-fluid mt-1">
    <div class="w-100 d-flex justify-content-between">
      <form class="d-flex w-100">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Tìm Đơn Hàng Theo Mã"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Tìm</button>
      </form>
    </div>
  </div>
</nav>
