<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Giao Hàng</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Tìm Đơn Hàng" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Tìm</button>
      </form>
    </div>
  </nav>