<nav class="navbar navbar-expand-lg navbar-success bg-success">
  <div class="container-fluid">
    <img width="64" height="77" src="/imgs/static/logo.png" alt="logo image">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100 d-flex justify-content-around">
        <li class="nav-item">
          <a class="nav-link active text-white h6" aria-current="page" href="#">SẢN PHẨM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white h6" aria-current="page" href="#">ĐƠN HÀNG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white h6" aria-current="page" href="#">BANNER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white h6" aria-current="page" href="/admin/category">DANH MỤC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white h6" aria-current="page" href="#">TÀI KHOẢN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white h6" aria-current="page" href="#">PHẢN HỒI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white h6" aria-current="page" href="#">THÔNG TIN CỬA HÀNG</a>
        </li>
      </ul>
      <div class="d-flex justify-content-center" style="width: 50vh;">
        <span class="navbar-text text-white h6">Cam Hưng,</span>
        <a class="nav-link text-white h6" href="">ĐĂNG XUẤT</a>
      </div>
    </div>
  </div>
</nav>