<!-- lấy coppy form tiêu đề này qua mấy trang khác cho đồng bộ -->
<div class="d-flex justify-content-center mt-3">
  <h3>THÊM SẢN PHẨM</h3>
</div>
<!-- ----- -->
<div class="container">
  <form action="/api/addProduct" method="post" enctype="multipart/form-data">
    <div class="row d-flex mt-3 justify-content-center">
      <label class="form-label col-2">Tên sản phẩm</label>
      <input required type="text" class="col-7" name="name" />
    </div>
    <div class="row d-flex mt-3 justify-content-center">
      <label class="form-label col-2">Giá sản phẩm</label>
      <input required type="number" class="col-7" name="currentPrice" />
    </div>
    <div class="row d-flex mt-3 justify-content-center">
      <label class="form-label col-2">Danh mục</label>
      <select name="idCategory" name="idCategory" class="col-7">
        <% data.categorys.forEach(function(category) { %>
        <option value="<%= category.id %>"><%= category.name %></option>
        <% }); %>
      </select>
    </div>
    <div class="row d-flex mt-3 justify-content-center">
      <label class="form-label col-2">Mô tả sản phẩm</label>
      <textarea
        name="description"
        id=""
        class="col-7"
        style="resize: none"
        required
      ></textarea>
    </div>
    <div class="row d-flex mt-3 justify-content-center">
      <label class="form-label col-2"> Món ăn kèm </label>
      <div class="col-7">
        <select id="multiple-select" name="addMore" multiple>
          <% data.products.forEach(function(product) { %>
          <option value="<%= product.id %>"><%= product.name %></option>
          <% }); %>
        </select>
      </div>
    </div>
    <div class="row d-flex mt-3 justify-content-center">
      <label class="form-label col-2">Hình ảnh</label>

      <label for="inpImage" class="btn btn-warning col-7">Chọn hình ảnh</label>
      <input required type="file" id="inpImage" name="productImage" hidden />
    </div>
    <div class="row d-flex mt-3 justify-content-center">
      <div class="col-2"></div>
      <div class="col-7 text-center">
        <img alt="" id="preview" style="max-height: 130px;" />
      </div>
    </div>
    <div class="row d-flex mt-3 justify-content-center">
      <div class="col-2"></div>
      <div class="col-7 text-center">
        <button type="submit" class="btn btn-primary" style="width: 50%;">
          Thêm sản phẩm
        </button>
      </div>
    </div>
  </form>
</div>
