<!-- tiêu đề này lấy coppy qua mấy trang khác cho đồng bộ -->
<div class="d-flex justify-content-center mt-3">
  <h3>QUẢN LÝ DANH MỤC</h3>
</div>
<!-- ----- -->
<div class="container">
  <!-- tìm kiếm này cũng coppy cho đồng bộ -->
  <div class="searchbox w-100 d-flex justify-content-end">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Nhập Tên Danh Mục" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">TÌM</button>
    </form>
  </div>
  <!-- ----- -->
  <div class="addBtnBox mt-3 w-100 d-flex justify-content-end">
    <a class="btn btn-primary" href="/admin/addCategory">THÊM DANH MỤC</a>
  </div>
  <div class="">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">TÊN DANH MỤC</th>
          <th scope="col">HÀNH ĐỘNG</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Ít Calo</td>
          <td>
            <button class="btn btn-success">Sửa</button>
            <button class="btn btn-danger">Xóa</button>
          </td>
        </tr>
        <tr>
          <th>2</th>
          <td>Cân Bằng</td>
          <td>
            <button class="btn btn-success">Sửa</button>
            <button class="btn btn-danger">Xóa</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>