<div class="container">
  <style>
    .one-row {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
  </style>
  <div class="row">
    <div class="col-7 p-1">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <h4>Giỏ hàng của bạn</h4>
          <span>(1 sản phẩm)</span>
        </div>
        <a href="/menu">Thêm sản phẩm</a>
      </div>
      <div class="areaProduct">
        <!-- 1 sản phẩm -->
        <div
          class="row position-relative shadow p-1 mb-3 bg-body rounded justify-content-between"
        >
          <span
            class="position-absolute text-danger end-0 col-1 border text-center rounded"
            >Xóa</span
          >
          <div class="col-2 align-self-center">
            <img
              src="https://cdn.tgdd.vn/Files/2019/11/15/1219188/3-cong-thuc-lam-salad-ca-ngu-cuc-don-gian-giau-dinh-duong-lam-nhanh-6.jpg"
              alt=""
              class="w-100"
            />
          </div>
          <div class="col-6 align-self-center">
            <h2>salad cá ngừ</h2>
            <p class="one-row">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. I
            </p>
            <p class="text-danger fs-4 fw-bold">125.000 đ</p>
          </div>
          <div class="col-3 align-self-center align-item-center">
            <button class="btn border w-10 fw-bold py-1">-</button>
            <input type="number" class="w-50" value="1" />
            <button class="btn border w-10 fw-bold py-1">+</button>
          </div>
        </div>
        <!-- kết thúc -->
      </div>
      <div class="shadow p-1 mb-3 bg-body rounded">
        <h4>Lưu ý khi đặt hàng</h4>
        <textarea name="" id="" class="w-100 rounded " style="resize: none;">
        </textarea>
      </div>
    </div>
    <div class="col-5">
      <div class="rounded border p-1 mb-2">
        <h4>
          Thông tin giao hàng
          <span
            class="fs-6 p-1 border rounded"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            Chọn địa chỉ
          </span>
        </h4>

        <p>
          Nguyễn Văn Phát - 0382909902 - 123 đường 3/2, phường 12, quận 10,
          TP.HCM
        </p>
      </div>
      <div
        class="rounded border p-1 mb-2 d-flex justify-content-between align-items-center"
      >
        <h4>Thời gian giao hàng</h4>
        <input
          type="datetime-local"
          min="2024-11-06T08:30"
          max="2024-11-08T16:30"
          name=""
          id="deleveryTime"
        />
      </div>
      <div class="rounded border p-1 mb-2">
        <!-- tong phu -->
        <div class="fs-5">
          <!-- 1 sản phẩm -->
          <div class="d-flex justify-content-between">
            <span>salad cá ngừ</span>
            <span>125.000đ</span>
          </div>
          <!-- kết thúc -->
        </div>
        <!-- tong cong -->
        <div class="d-flex justify-content-between fs-4 text-danger">
          <span>Tổng cộng</span>
          <span>123.000đ</span>
        </div>
        <div>
          <button class="btn btn-primary w-100">Thanh toán</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal chọn địa chỉ -->

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Danh sách địa chỉ</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- 1 địa chỉ -->
        <div class="row align-items-center">
          <div class="col-1">
            <input type="radio" name="address" id="address1" />
          </div>
          <label class="col-11" for="address1">
            <div class="d-flex justify-content-between">
              <span>Nguyễn Văn Phát</span>
              <span>0382909902</span>
            </div>
            <div>123 đường 3/2, phường 12, quận 10, TP.HCM</div>
          </label>
        </div>
        <!-- kết thúc -->
      </div>
    </div>
  </div>
</div>
