<div class=" d-flex justify-content-center row">
  <div class="col-8 row">
    <!-- danh muc -->

    <ul class="row col-12 d-flex justify-content-center align-items-center" style="background-color: green; border-radius: 15px; list-style-type: none;">
      <li class="my-3 col-3 row"><a href="" class="btn btn-light col-10">It Calo</a></li>
    </ul>

    <!-- ----- -->


  </div>
</div>