<div class="container min-vh-100">
  <h1 style="color: rgb(52, 133, 89);" class="text-center">Chính sách thanh toán khi đặt hàng</h1>
  <p>Thanh toán trực tiếp tại nơi giao hàng bằng tiền mặt </p>

  <p>Sau khi đặt hàng, nhân viên giao hàng của Volibear Việt Nam sẽ thông báo cho khách hàng về việc giao hàng. Khách hàng vui lòng thanh toán bằng tiền mặt Việt Nam đồng (VNĐ) tại nơi giao hàng, người giao hàng sẽ cung cấp hóa đơn bán hàng hợp lệ sau khi khách hàng kiểm tra đơn hàng.</p>
</div>