<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block text-white min-vh-20 p-4 rounded" style="background-color: #007f00">
      <h6 class="text-center">ĐỊA CHỈ GIAO HÀNG ĐÃ LƯU</h6>
      <ul class="nav flex-column text-center p-3">
        <li class="nav-item"><a class="nav-link text-white active" href="#"><i class="bi bi-person-circle"></i> Quản lý tài khoản</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#"><i class="bi bi-gear"></i> Quản lý địa chỉ</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#"><i class="bi bi-chat-dots"></i> Lịch sử đặt hàng</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#"><i class="bi bi-bell"></i> Đặt lại mật khẩu</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#"><i class="bi bi-box-arrow-right"></i> Xóa tài khoản</a></li>
      </ul>
    </nav>

    <div class="col-md-9 ms-sm-auto mt-4">
      <form>
        <div class="row mb-3">
          <div class="col-12">
            <label for="fullname" class="form-label">Họ và tên *</label>
            <input type="text" class="form-control" id="fullname" required />
          </div>
          <div class="col-12">
            <label for="phone" class="form-label">Số điện thoại *</label>
            <input type="text" class="form-control" id="phone" required />
          </div>
          <div class="col-12">
            <label for="address" class="form-label">Địa chỉ *</label>
            <input type="text" class="form-control" id="address" required />
          </div>
        </div>
        <div class="text-center"> <!-- Căn giữa nút -->
          <button type="submit" class="btn btn-danger">Thêm địa chỉ</button>
        </div>
      </form>
    </div>
  </div>
</div>
